/* env */
:root {
    --color1: #efcf96;
    --color2: #162e48;
    --color3: #254367;
    --color4: #5a5a5a;
    --color5: #d3d3d3;
}
/* font style */
@font-face {
    font-family: 'alhambra';
    src: url('/asset/font/ALHAMBRA.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'brittany';
    src: url('/asset/font/BrittanySignature.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'libre';
    src: url('/asset/font/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.alhambra {
    font-family: 'alhambra';
}
.brittany {
    font-family: 'brittany';
}
.libre {
    font-family: 'libre';
}

/* colors */
.bg-color1 {
    background-color: var(--color1);
}

.bg-color2 {
    background-color: var(--color2);
}

.bg-color3 {
    background-color: var(--color3);
}

* {
    box-sizing: border-box;
}

/* navbar */
nav {
    margin: 0;
    background-color: var(--color2);
}

li {
    list-style-type: none;
}

.hover\:logo:hover {
    text-shadow: 2px 2px 4px #ffffff;
    animation-duration: 1s;
}

/* section hero */
.hero {
    margin: 0;
    background: linear-gradient(270deg, var(--color4), var(--color2), var(--color3), var(--color5));
    animation: wave 10s ease infinite;
}

img#logo {
    height: auto;
    margin-top: -6rem;
}

h1 {
    font-size: 3rem;
}

/* Custom shadow for only bottom and right side */
.hover\:shadow-custom:hover {
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.1), 0 8px 15px rgba(0, 0, 0, 0.1);
}
/* Scale effect for hover */
.hover\:scale-105:hover {
    transform: scale(1.05) !important; 
}

.hover\:bg-blue3:hover {
    background-color: var(--color3);
}